body,#root,.App {
  background-color: rgb(214, 213, 211);
}

.main{
  background-image: url(../src/assets/imges/istockphoto-1037437274-612x612.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 2px 1px 18px rgba(0, 1, 1, 1);
}
.form-signin {
  max-width: 450px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
